• Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of
your choice.
• You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get
information about selenium Exceptions. You may visit following links:
1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-elementexception/38023345

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [82]:
## importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

# importing selenium web driver
from selenium import webdriver

# importing required exceptions to handle
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# importing request
import requests

from selenium.webdriver.common.by import By

In [83]:
#lets connect with web driver
driver = webdriver.Chrome()
driver.maximize_window()

In [84]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(3)
driver.maximize_window()

In [85]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [86]:
#Scraping Rank
rank=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr')
for i in rank:
    Rank.append(i.text)

#Scraping Name
name=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in name:
    Name.append(i.text)
    
#Scraping Artist
artist=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in artist:
    Artist.append(i.text)
    
    
#Scraping Views
views=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in views:
    Views.append(i.text)
    
    
#Scraping Upload_date
upload_date=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in upload_date:
    Upload_date.append(i.text)

In [87]:
df=pd.DataFrame({'RANK':Rank,'NAME':Name,'ARTIST':Artist,'UPDOADED DATE':Upload_date,'VIEWS':Views})

In [88]:
df

,RANK,NAME,ARTIST,UPDOADED DATE,VIEWS
0,"""Baby Shark Dance""[6] Pinkfong Baby Shark - Ki...","""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
1,"""Despacito""[9] Luis Fonsi 8.38 January 12, 201...","""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.38
2,"""Johny Johny Yes Papa""[17] LooLoo Kids - Nurse...","""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
3,"""Bath Song""[18] Cocomelon - Nursery Rhymes 6.6...","""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
4,"""Shape of You""[19] Ed Sheeran 6.20 January 30,...","""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.20
5,"""See You Again""[22] Wiz Khalifa 6.17 April 6, ...","""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.17
6,"""Wheels on the Bus""[27] Cocomelon - Nursery Rh...","""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88
7,"""Phonics Song with Two Words""[28] ChuChu TV Nu...","""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
8,"""Uptown Funk""[29] Mark Ronson 5.15 November 19...","""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.15
9,"""Learning Colors – Colorful Eggs on a Farm""[30...","""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.07
10,"""Gangnam Style""[31] Psy 5.05 July 15, 2012 [E]","""Gangnam Style""[31]",Psy,"July 15, 2012",5.05
11,"""Masha and the Bear – Recipe for Disaster""[36]...","""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.58
12,"""Dame Tu Cosita""[37] Ultra Records 4.55 April ...","""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.55
13,"""Axel F""[38] Crazy Frog 4.34 June 16, 2009","""Axel F""[38]",Crazy Frog,"June 16, 2009",4.34
14,"""Sugar""[39] Maroon 5 4.00 January 14, 2015","""Sugar""[39]",Maroon 5,"January 14, 2015",4.00
15,"""Counting Stars""[40] OneRepublic 3.97 May 31, ...","""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.97
16,"""Baa Baa Black Sheep""[41] Cocomelon - Nursery ...","""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
17,"""Roar""[42] Katy Perry 3.96 September 5, 2013","""Roar""[42]",Katy Perry,"September 5, 2013",3.96
18,"""Lakdi Ki Kathi""[43] Jingle Toons 3.91 June 14...","""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.91
19,"""Waka Waka (This Time for Africa)""[44] Shakira...","""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.85
20,"""Sorry""[45] Justin Bieber 3.77 October 22, 2015","""Sorry""[45]",Justin Bieber,"October 22, 2015",3.77
21,"""Thinking Out Loud""[46] Ed Sheeran 3.73 Octobe...","""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.73
22,"""Humpty the train on a fruits ride""[47] Kiddie...","""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
23,"""Shree Hanuman Chalisa""[48] T-Series Bhakti Sa...","""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,"May 10, 2011",3.69
24,"""Dark Horse""[49] Katy Perry 3.67 February 20, ...","""Dark Horse""[49]",Katy Perry,"February 20, 2014",3.67
25,"""Perfect""[50] Ed Sheeran 3.67 November 9, 2017","""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.67
26,"""Let Her Go""[51] Passenger 3.61 July 25, 2012","""Let Her Go""[51]",Passenger,"July 25, 2012",3.61
27,"""Faded""[52] Alan Walker 3.59 December 3, 2015","""Faded""[52]",Alan Walker,"December 3, 2015",3.59
28,"""Girls Like You""[53] Maroon 5 3.56 May 31, 2018","""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.56
29,"""Lean On""[54] Major Lazer Official 3.55 March ...","""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.55

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [4]:
## importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

# importing selenium web driver
from selenium import webdriver

# importing required exceptions to handle
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# importing request
import requests

from selenium.webdriver.common.by import By

In [5]:
driver=webdriver.Chrome() 
time.sleep(4)

In [6]:
driver.get("https://www.bcci.tv/")
time.sleep(4)
driver.maximize_window()

In [7]:
#click on international
international=driver.find_element(By.XPATH,'//ul[@class="list-unstyled ps-0 mb-0"]/li/a[2]')
international.click()
time.sleep(3)

In [9]:
# click on fixtures
fixtures= driver.find_element(By.XPATH,'//div[@class="imw-tabs international-tabs"]/a[2]')
fixtures.click()
time.sleep(3)

In [10]:
#Creating Empty list
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [11]:
#Scraping Match_title
match_title= driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div/div/span[1]')
for i in match_title:
    Match_title.append(i.text)
    
#Scraping Series
series= driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div/div/span[2]')
for i in series:
    Series.append(i.text)
    
#Scraping Place
place= driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div/h5')
for i in place:
    Place.append(i.text)   
    
#Scraping Date
date= driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[1]')
for i in date:
    Date.append(i.text)   
    
#Scraping Time
time= driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[2]')
for i in time:
    Time.append(i.text)

In [13]:
df=pd.DataFrame({'MATCH':Match_title,'SERIES':Series,'PLACE':Place,'DATE':Date,'TIME':Time})

In [14]:
df

,MATCH,SERIES,PLACE,DATE,TIME
0,4th Test,Men,ENGLAND TOUR OF INDIA 2023-24,"23 FEBRUARY, 2024",9:30 AM IST
1,5th Test,Men,ENGLAND TOUR OF INDIA 2023-24,"7 MARCH, 2024",9:30 AM IST
2,1st T20I,Men,INDIA TOUR OF ZIMBABWE 2024,"6 JULY, 2024",8:00 PM IST
3,2nd T20I,Men,INDIA TOUR OF ZIMBABWE 2024,"7 JULY, 2024",8:00 PM IST
4,3rd T20I,Men,INDIA TOUR OF ZIMBABWE 2024,"10 JULY, 2024",8:00 PM IST
5,4th T20I,Men,INDIA TOUR OF ZIMBABWE 2024,"13 JULY, 2024",8:00 PM IST
6,5th T20I,Men,INDIA TOUR OF ZIMBABWE 2024,"14 JULY, 2024",8:00 PM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [89]:
## importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

# importing selenium web driver
from selenium import webdriver

# importing required exceptions to handle
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# importing request
import requests

from selenium.webdriver.common.by import By

In [90]:
driver=webdriver.Chrome() 
time.sleep(4)

In [91]:
driver.get("http://statisticstimes.com/")
time.sleep(2)
driver.maximize_window()

In [92]:
#Click Economy
Economy=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/button')
Economy.click()

In [93]:
#Click India
India= driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
India.click()

In [98]:
#Click on India GPD
GDP=driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
GDP.click()

In [99]:
# creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [100]:
# scraping Rank
try:
    for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# scraping State
try:
    for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]'):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
# scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]'):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
    
# scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]'):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
    
# scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]'):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    
# scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]'):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [102]:
print(len(Rank),len(State),len( GSDP1),len(GSDP2),len(Share),len(GDP_billion))

33 33 33 33 33 33

In [107]:
df=pd.DataFrame({'RANK':Rank,'STATE':State,'GSDP at current price (19-20)':GSDP1,'GSDP at current price (18-19)':GSDP2,
                'Share (18-19)':Share,'GDP($ billion)':GDP_billion})

df

,RANK,STATE,GSDP at current price (19-20),GSDP at current price (18-19),Share (18-19),GDP($ billion)
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
4,5,Gujarat,-,"1,937,066",8.25%,259.996
5,6,West Bengal,"1,554,992","1,363,926",5.81%,183.068
6,7,Rajasthan,"1,413,620","1,218,193",5.19%,163.507
7,8,Madhya Pradesh,"1,322,821","1,136,137",4.84%,152.494
8,9,Andhra Pradesh,"1,317,728","1,133,837",4.83%,152.185
9,10,Telangana,"1,313,391","1,128,907",4.81%,151.523
10,11,Kerala,-,"932,470",3.97%,125.157
11,12,Delhi,"1,043,759","904,642",3.85%,121.422
12,13,Haryana,"994,154","870,665",3.71%,116.862
13,14,Odisha,"774,869","670,881",2.86%,90.047
14,15,Bihar,"751,396","650,302",2.77%,87.284
15,16,Punjab,"673,107","614,227",2.62%,82.442
16,17,Assam,"493,167","412,612",1.76%,55.381
17,18,Chhattisgarh,"457,608","406,416",1.73%,54.550
18,19,Jharkhand,"393,722","358,863",1.53%,48.167
19,20,Uttarakhand,"302,621","272,159",1.16%,36.530
20,21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.833
21,22,Himachal Pradesh,"195,405","176,269",0.75%,23.659
22,23,Goa,-,"82,604",0.35%,11.087
23,24,Tripura,"72,636","62,550",0.27%,8.396
24,25,Chandigarh,-,"45,635",0.19%,6.125
25,26,Puducherry,-,"44,238",0.19%,5.938
26,27,Meghalaya,"42,697","38,785",0.17%,5.206
27,28,Sikkim,"42,756","37,557",0.16%,5.041
28,29,Manipur,-,"36,594",0.16%,4.912
29,30,Arunachal Pradesh,-,"35,124",0.15%,4.714
30,31,Nagaland,-,"31,913",0.14%,4.283
31,32,Mizoram,-,"27,824",0.12%,3.735
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.392

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [140]:
## importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

# importing selenium web driver
from selenium import webdriver

# importing required exceptions to handle
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# importing request
import requests

from selenium.webdriver.common.by import By

In [141]:
driver=webdriver.Chrome() 
time.sleep(2)

In [142]:

driver.get("https://github.com")
time.sleep(4)
driver.maximize_window()

In [143]:
# getting explore button and clicking on it
explore = driver.find_element(By.XPATH,'//ul[@class="d-lg-flex list-style-none"]/li[3]/button').click()

# selecting trending option
trend_url = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
urls = trend_url.get_attribute("href")
driver.get(urls)

In [145]:
# Creating emplty list 
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [146]:
try:
    for i in driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h2/a'):
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append("_")
    
    
try:
    for i in driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="position-relative container-lg p-responsive pt-6"]/div/div[2]/article/div[2]/a[2]'):
        Contributors_count.append(i.text)
except NoSuchElementException:
    Contributors_count.append("_")
    
            
try:
    for i in driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]'):
        Language_used.append(i.text)
except NoSuchElementException:
    Language_used.append("_")

In [ ]:
#build by xpath= //span[@class="d-inline-block mr-3"]

In [147]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 23 25 22

In [149]:
git={'Repository Title':Repository_title, 'Repository Description':Repository_description,
                 'countribution' :Contributors_count,'Language':Language_used}

df=pd.DataFrame({key:pd.Series(value) for key, value in git.items() })

df

,Repository Title,Repository Description,countribution,Language
0,charlax / professional-programming,A collection of learning resources for curious...,"2,787",Python
1,I-S00N / I-S00N,Langchain-Chatchat（原Langchain-ChatGLM）基于 Langc...,"1,620",Python
2,chatchat-space / Langchain-Chatchat,A modern download manager that supports all pl...,"3,940",Dart
3,GopeedLab / gopeed,"《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Python, C++,...",739,Java
4,krahets / hello-algo,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,"7,689",Go
5,1Panel-dev / 1Panel,html with targeted manipulation zones,"1,415",JavaScript
6,Kalabasa / htmz,基于大模型搭建的微信聊天机器人，同时支持微信、企业微信、公众号、飞书、钉钉接入，可选择GPT...,21,Python
7,zhayujie / chatgpt-on-wechat,Automate the process of making money online.,"6,045",Python
8,FujiwaraChoki / MoneyPrinterV2,A cross-platform ChatGPT/Gemini UI (Web / PWA ...,65,TypeScript
9,ChatGPTNextWeb / ChatGPT-Next-Web,"Minimal, clean, code for the Byte Pair Encodin...","51,420",Python
10,karpathy / minbpe,The OS for your personal finances,455,Ruby
11,maybe-finance / maybe,Master programming by recreating your favorite...,"1,757",TypeScript
12,codecrafters-io / build-your-own-x,Your GenAI Second Brain 🧠 A personal productiv...,"23,396",JavaScript
13,QuivrHQ / quivr,An intuitive GUI for GLIGEN that uses ComfyUI ...,"2,727",Python
14,mut-ex / gligen-gui,🔎 Hunt down social media accounts by username ...,71,Rust
15,sherlock-project / sherlock,"An open-source remote desktop, and alternative...","5,880",JavaScript
16,rustdesk / rustdesk,OpenAI 接口管理 & 分发系统，支持 Azure、Anthropic Claude、G...,"6,285",Python
17,songquanpeng / one-api,The official gpt4free repository | various col...,"2,345",Python
18,LargeWorldModel / LWM,"Master the command line, in one page",403,Rust
19,xtekky / gpt4free,🤱🏻 Turn any webpage into a desktop app with Ru...,"12,291",Java
20,jlevy / the-art-of-command-line,i茅台app自动预约，每日自动预约，支持docker一键部署,"13,989",Python
21,tw93 / Pake,PyTorch code and models for V-JEPA self-superv...,"3,091",TypeScript
22,oddfar / campus-imaotai,"🤖 Lobe Chat - an open-source, high-performance...",801,NaN
23,facebookresearch / jepa,NaN,111,NaN
24,lobehub / lobe-chat,NaN,"3,690",NaN

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [142]:
# importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
# importing selenium web driver
from selenium import webdriver

# importing required exceptions to handle
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# importing request
import requests

from selenium.webdriver.common.by import By

In [143]:
driver=webdriver.Chrome() 
time.sleep(2)

In [144]:
driver.get("https://www.billboard.com/")
time.sleep(6)
driver.maximize_window()
time.sleep(3)

In [145]:
# clicking on option button
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [146]:
# clicking on hot 100 button
hot=driver.find_element(By.XPATH,'//div[@class="u-flex-grow-0 lrv-u-text-align-center"]/span/a')
hot.click()

In [147]:
# Creating Blank List
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [148]:
# scraping data of song names
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/h3'):
    Song_name.append(i.text)
    
    
# scraping data of artist names
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span'):
    Artist_name.append(i.text)
    
# scraping data of last week ranks
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span'):
    Last_week_rank.append(i.text)
    

# scraping data of peak ranks
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span'):
    Peak_rank.append(i.text)       
    
    
# scraping data of weeks on board
for i in driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span'):
    Weeks_on_board.append(i.text)

In [149]:
print(len(Song_name),len( Artist_name),len( Last_week_rank),len(Peak_rank),len(Weeks_on_board))

100 100 100 100 100

In [150]:
df=pd.DataFrame({'SONG NAME':Song_name,'ARTIST NAME':Artist_name,'LAST WEEK RANK':Last_week_rank,
                 'PEAK RANK':Peak_rank,'WEEK ON BOARD':Weeks_on_board})
df

,SONG NAME,ARTIST NAME,LAST WEEK RANK,PEAK RANK,WEEK ON BOARD
0,Lovin On Me,Jack Harlow,2,1,13
1,Lose Control,Teddy Swims,4,2,26
2,Beautiful Things,Benson Boone,8,3,3
3,Cruel Summer,Taylor Swift,3,1,40
4,Snooze,SZA,10,2,60
...,...,...,...,...,...
95,Worth It,Offset & Don Toliver,100,92,4
96,Northern Attitude,Noah Kahan With Hozier,97,37,10
97,Scared To Start,Michael Marcagi,-,98,1
98,First Love,Oscar Ortiz X Edgardo Nunez,91,91,3
99,Where It Ends,Bailey Zimmerman,-,32,7

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [18]:
## importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

# importing selenium web driver
from selenium import webdriver

# importing required exceptions to handle
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# importing request
import requests

from selenium.webdriver.common.by import By

In [19]:
# connecting to the web driver
driver=webdriver.Chrome()

# getting the webpage of mentioned url
url = ("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
driver.get(url)
driver.maximize_window()
time.sleep(3)

In [21]:
# creating empty lists
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [23]:
# scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[2]"):
    Book_name.append(i.text)

    
# scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')
time.sleep(3)


# scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[4]"):
    Volumes_sold.append(i.text)
    
    
# scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[5]"):
    Publisher.append(i.text)
    
    
# scraping  data of genre
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[6]"):
    Genre.append(i.text)

In [24]:
print(len(Book_name),len( Author_name),len(Volumes_sold),len(Publisher),len(Genre))

100 100 100 100 100

In [25]:
# creating dataframe for scraped data
Novels = pd.DataFrame({})
Novels['Book Name'] = Book_name
Novels['Author'] = Author_name
Novels['Volume sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url =https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [29]:
## importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

# importing selenium web driver
from selenium import webdriver

# importing required exceptions to handle
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# importing request
import requests

from selenium.webdriver.common.by import By

In [41]:
# connecting to the web driver
driver=webdriver.Chrome()

In [42]:
# getting the webpage of mentioned url
driver.get('https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc')
driver.maximize_window()

In [43]:
page_url=[]
url=driver.find_elements(By.XPATH,'//div[@class="sc-be6f1408-0 gVGktK"]/div/a')
for i in url:
    title=i.text
    page_url.append(i.get_attribute('href'))

In [44]:
len(page_url)

50

In [45]:
# creating empty lists
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [46]:
   
# scraped data of Names
for i in driver.find_elements(By.XPATH,'//div[@class="sc-be6f1408-0 gVGktK"]/div/a/h3'):
    Name.append(i.text)

    
# scraped data of Year span
for i in driver.find_elements(By.XPATH,'//div[@class="sc-be6f1408-7 iUtHEN dli-title-metadata"]/span[1]'):
    Year_span.append(i.text)
        
        
# scraped data of Ratings
for i in driver.find_elements(By.XPATH,'//span[@class="sc-be6f1408-1 dbnleL"]/div[1]/span'):
    Ratings.append(i.text)
            
# scraped data of Votes
for i in driver.find_elements(By.XPATH,'//div[@class="sc-f24f1c5c-2 ffDWee"]/div[2]'):
    Votes.append(i.text)

In [47]:
print(len(Name),len(Year_span),len(Ratings),len(Votes))

50 50 50 50

In [48]:
for i in page_url:
    driver.get(i)
    time.sleep(2)
    
    # scraped data of Run time
    for i in driver.find_elements(By.XPATH,'//div[@class="sc-69e49b85-0 jqlHBQ"]/ul/li[4]'):
        Run_time.append(i.text)

In [49]:
print(len(Run_time))

50

In [50]:
df=pd.DataFrame({'NAME':Name,'YEAR OF SPAN':Year_span,'RATINGS':Ratings,'VOTES':Votes,'RUN TIME':Run_time})

df

,NAME,YEAR OF SPAN,RATINGS,VOTES,RUN TIME
0,1. Game of Thrones,2011–2019,9.2\n (2.3M),"Votes2,258,862",69h 49m
1,2. Breaking Bad,2008–2013,9.5\n (2.1M),"Votes2,106,198",45m
2,3. Stranger Things,2016–2025,8.7\n (1.3M),"Votes1,317,843",51m
3,4. Friends,1994–2004,8.9\n (1.1M),"Votes1,077,203",88h
4,5. The Walking Dead,2010–2022,8.1\n (1.1M),"Votes1,070,251",44m
5,6. Sherlock,2010–2017,9.1\n (988K),"Votes988,174",1h 28m
6,7. The Big Bang Theory,2007–2019,8.2\n (860K),"Votes859,960",95h 2m
7,8. Dexter,2006–2013,8.7\n (759K),"Votes758,779",55m
8,9. How I Met Your Mother,2005–2014,8.3\n (723K),"Votes723,291",76h 16m
9,10. The Office,2005–2013,9.0\n (698K),"Votes698,277",22m
10,11. True Detective,2014–,8.9\n (641K),"Votes640,672",55m
11,12. Peaky Blinders,2013–2022,8.8\n (636K),"Votes636,091",35h 9m
12,13. Better Call Saul,2015–2022,9.0\n (635K),"Votes635,258",52h 34m
13,14. The Boys,2019–,8.7\n (633K),"Votes633,223",1h
14,15. Black Mirror,2011–,8.7\n (632K),"Votes632,128",1h
15,16. Rick and Morty,2013–,9.1\n (594K),"Votes593,588",23m
16,17. Lost,2004–2010,8.3\n (590K),"Votes589,612",90h 45m
17,18. The Mandalorian,2019–,8.7\n (580K),"Votes579,519",40m
18,19. Vikings,2013–2020,8.5\n (575K),"Votes575,171",44m
19,20. Prison Break,2005–2017,8.3\n (574K),"Votes574,230",44m
20,21. The Witcher,2019–,8.0\n (564K),"Votes564,451",1h
21,22. Squid Game,2021–,8.0\n (530K),"Votes530,146",55m
22,23. Westworld,2016–2022,8.5\n (529K),"Votes529,210",1h 2m
23,24. House of Cards,2013–2018,8.6\n (528K),"Votes527,901",63h 24m
24,25. Money Heist,2017–2021,8.2\n (526K),"Votes525,824",1h 10m
25,26. House,2004–2012,8.7\n (504K),"Votes503,988",129h 48m
26,27. The Last of Us,2023–,8.8\n (501K),"Votes500,528",50m
27,28. Attack on Titan,2013–2023,9.1\n (497K),"Votes497,463",24m
28,29. Supernatural,2005–2020,8.4\n (478K),"Votes478,425",44m
29,30. Modern Family,2009–2020,8.5\n (476K),"Votes476,317",89h 38m
30,31. Suits,2011–2019,8.4\n (471K),"Votes471,133",44m
31,32. Daredevil,2015–2018,8.6\n (471K),"Votes470,775",54m
32,33. Narcos,2015–2017,8.8\n (465K),"Votes464,989",49m
33,34. The Sopranos,1999–2007,9.2\n (462K),"Votes461,711",55m
34,35. Arrow,2012–2020,7.5\n (445K),"Votes444,552",42m
35,36. Dark,2017–2020,8.7\n (437K),"Votes436,943",24h 15m
36,37. The Simpsons,1989–,8.7\n (433K),"Votes432,621",22m
37,38. Fargo,2014–2024,8.9\n (415K),"Votes415,410",53m
38,39. Mr. Robot,2015–2019,8.5\n (415K),"Votes414,742",49m
39,40. Loki,2021–2023,8.2\n (406K),"Votes405,895",9h 46m
40,41. South Park,1997–,8.7\n (403K),"Votes402,986",22m
41,42. The Wire,2002–2008,9.3\n (372K),"Votes372,498",59m
42,43. Death Note,2006–2007,8.9\n (372K),"Votes371,915",24m
43,44. The Flash,2014–2023,7.5\n (367K),"Votes366,714",43m
44,45. House of the Dragon,2022–,8.4\n (363K),"Votes362,865",50m
45,46. Family Guy,1999–2025,8.2\n (362K),"Votes361,626",22m
46,47. Homeland,2011–2020,8.3\n (359K),"Votes359,004",55m
47,48. Avatar: The Last Airbender,2005–2008,9.3\n (357K),"Votes356,569",23m
48,49. Brooklyn Nine-Nine,2013–2021,8.4\n (356K),"Votes355,568",22m
49,50. Wednesday,2022–,8.1\n (352K),"Votes352,466",45m

8. Details of Datasets from UCI machine learning repositories.
    Url = https://archive.ics.uci.edu/ You
    have to find the following details:
    A) Dataset name
    B) Data type
    C) Task
    D) Attribute type
    E) No of instances
    F) No of attribute G) Year
     Note: - from the home page you have to go to the Show All Dataset page through code.

In [43]:
## importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

# importing selenium web driver
from selenium import webdriver

# importing required exceptions to handle
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# importing request
import requests

from selenium.webdriver.common.by import By

In [44]:
# connecting to the web driver
driver=webdriver.Chrome()

In [45]:
# getting the webpage of mentioned url
driver.get(" https://archive.ics.uci.edu/")
driver.maximize_window()

In [46]:
# fetching view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]/a[1]')
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(3)

In [47]:
# fetching  expand all datasets
expand_all = driver.find_element(By.XPATH,'//label[@class="btn-primary btn-sm btn flex gap-2 rounded-full"]/div[2]/span[2]')
expand_all.click()
# list_url = view_list.get_attribute("href")
# driver.get(list_url)
time.sleep(3)

#button xpath= //div[@class="btn-group"]/button[2]

In [48]:
# creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [49]:
# scraped name 
for i in driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a'):
    Dataset_name.append(i.text)
    
# scraped data type
for i in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span'):
    Data_type.append(i.text)
    
# scraped task
for i in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span'):
    Task.append(i.text)
    
    
# scraped attribute type
for i in driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]'):
    Attribute_type.append(i.text)
    
    
# scraped no of instance
for i in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span'):
    No_of_instances.append(i.text)
    
# scraped no of attribute
for i in driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span'):
    No_of_attributes.append(i.text)
    
# scraped year
for i in driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]'):
    Year.append(i.text)

In [50]:
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attributes),len(Year))

10 10 10 10 10 10 10

In [51]:
ML = pd.DataFrame({'Data Name': Dataset_name, 'Data Type ': Data_type,'Task ':Task ,'Attribute Type ':Attribute_type ,
'No of Instance ': No_of_instances,'No of Attributes ':No_of_attributes, 'Year ': Year}) 

ML

,Data Name,Data Type,Task,Attribute Type,No of Instance,No of Attributes,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,8/14/2023
6,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A